body{
  background-color: whitesmoke;
}

#myPic, #r1c2, #row2{
  margin-top: 1em;
}
#titleh3{
  margin-bottom: 0px;
}

#myPic{
  height: 90%;
  width: 70%;
}

#r2h{
  text-align: center;
}

#resistnetwork, #pioneerdj2{
  height: 275%;
  width: 90%;
}

#row2, #row3{
  margin-bottom: 27.5%;
}

#row4{
  margin-bottom: 15%;
}
#jsdoc{
  width: 100%;
  height: 100%;
}
#row1{
  color: #0064A4;
}

#titlebox {
  color: #FFD200;
  background-color: #0064A4;
}

#row1{
  background-color: #whitesmoke;
}

#footy{
  background-color: #whitesmoke;
}

#desc, desc2{
  color: #6AA2B8;
}
.navbar-nav > li > a {padding-top:2px !important; padding-bottom:2px !important;}
.navbar {min-height:25px !important}